<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="header :: content"></div>

<div class="container theme-showcase">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="container-flued">
                <div class="row">

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div>
                                <h3  class="card-title">Мониторы</h3>
                            </div>
                            <img src="http://via.placeholder.com/640x360" alt="Мониторы">
                            <div class="caption">
                                <p><a href="#" class="btn btn-primary" role="button">Смотреть</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div>
                                <h3  class="card-title">Персональные компьютеры</h3>
                            </div>
                            <img src="http://via.placeholder.com/640x360" alt="Персональные компьютеры">
                            <div class="caption">
                                <p><a href="#" class="btn btn-primary" role="button">Смотреть</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div>
                                <h3  class="card-title">Накопители</h3>
                            </div>
                            <img src="http://via.placeholder.com/640x360" alt="Накопители">
                            <div class="caption">
                                <p><a href="#" class="btn btn-primary" role="button">Смотреть</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div>
                                <h3  class="card-title">Ноутбуки</h3>
                            </div>
                            <img src="http://via.placeholder.com/640x360" alt="Ноутбуки">
                            <div class="caption">
                                <p><a href="#" class="btn btn-primary" role="button">Смотреть</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: content"></div>
</body>
</html>